<%= form_with scope: :person, url: persons_path, local: true do |form| %>
  <p>
    <%= form.label :firstname %><br>
    <%= form.text_field :firstname %>
  </p>

  <p>
    <%= form.label :lastname %><br>
    <%= form.text_field :lastname %>
  </p>

  <p>
    <%= form.label :email %><br>
    <%= form.text_field :email %>
  </p>

  <p>
    <%= form.label :bio %><br>
    <%= form.text_area :text %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>